In [1]:
import pandas as pd
import json
import os
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

In [2]:
df1 = pd.read_csv('./data/db1.csv')
df2 = pd.read_csv('./data/db2.csv')

with open('./data/db1.json') as f:
    dict = json.load(f)

In [9]:
# Setting a new environment variable
# os.environ["mongo_password"] = ""

In [11]:
# Conection to mongo db
password = os.environ.get("mongo_password")

uri = f"mongodb+srv://alejandromdcb:{password}@mongo.dprsbeg.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [ ]:
# input con el nombre

# Recorrer el diccionario trayendonos los datos a los que puede acceder cada usuario segun su nivel
# si el usuario no existe tirar un except "no esta definido el usuario...."

In [6]:
# Función para buscar los business_name en un archivo JSON
def buscar_business_name(archivo, profile):
    with open(archivo, "r") as file:
        data = json.load(file)
        business_names = []
        for key, value in data.items():
            if "level" in value and value["level"] == profile:
                business_names.append(value["business_name"])
        return business_names

In [8]:
# Solicita al usuario que ingrese su nombre
nombre = input("Por favor, ingresa tu nombre: ")

# Carga el archivo JSON
with open("./data/users.json", "r") as archivo:
    data = json.load(archivo)

# Verifica si el nombre de usuario está en el JSON
if nombre in data:
    # Obtiene el valor de "profile" asociado al nombre de usuario
    profile = data[nombre]["profile"]
    print(f"El perfil de {nombre} es: {profile}")
else:
    print(f"Lo siento, no se encontró el nombre {nombre} en el archivo JSON.")

# Buscar en el archivo db1.json
business_names_db1 = buscar_business_name("./data/db1.json", profile)

# Buscar en el archivo db2.json
business_names_db2 = buscar_business_name("./data/db2.json", profile)

# Imprimir los resultados
print("Business Names en db1 para el perfil SPI:", business_names_db1)
print("Business Names en db2 para el perfil SPI:", business_names_db2)

El perfil de Francisco es: SPI
Business Names en db1 para el perfil SPI: ['Estado', 'Ciudad', 'Código postal']
Business Names en db2 para el perfil SPI: ['Identificador del exhibidor']

# filtrado de las primeras 5 columnas del dataset a las que el usuario tiene acceso

In [14]:
# Function to extract the node names from a JSON file based on the "profile"
def extract_node_names(archivo, profile):
    with open(archivo, "r") as file:
        data = json.load(file)
        node_names = []
        for key, value in data.items():
            if "level" in value and value["level"] == profile:
                node_names.append(key)
        return node_names

In [22]:
# Solicita al usuario que ingrese su nombre
nombre = input("Por favor, ingresa tu nombre: ")

# Carga el archivo JSON
with open("./data/users.json", "r") as archivo:
    data = json.load(archivo)

# Verifica si el nombre de usuario está en el JSON
if nombre in data:
    # Obtiene el valor de "profile" asociado al nombre de usuario
    profile = data[nombre]["profile"]
    print(f"El perfil de {nombre} es: {profile}")
else:
    print(f"Lo siento, no se encontró el nombre {nombre} en el archivo JSON.")


# Extract node names from db1.json
node_names_db1 = extract_node_names("./data/db1.json", profile)

# Extract node names from db2.json
node_names_db2 = extract_node_names("./data/db2.json", profile)

# Print the results
print("Node Names in db1.json for profile SPI:", node_names_db1)
print("Node Names in db2.json for profile SPI:", node_names_db2)

print('\n \n Puedes ver estos datos: \n')
print(df1.loc[:, node_names_db1].head())
print('\n \n')
print(df2.loc[:, node_names_db2].head())

El perfil de Francisco es: SPI
Node Names in db1.json for profile SPI: ['estado', 'ciudad', 'cp']
Node Names in db2.json for profile SPI: ['id_exhibidor']


 Puedes ver estos datos:

       estado         ciudad     cp
0     Jalisco    Guadalajara  44600
1     Sinaloa       Culiacán  80000
2  California    Los Angeles  90001
3     Arizona        Phoenix  85001
4    New York  New York City  10001



   id_exhibidor
0             1
1             2
2             3
3             4
4             5

       estado         ciudad     cp
0     Jalisco    Guadalajara  44600
1     Sinaloa       Culiacán  80000
2  California    Los Angeles  90001
3     Arizona        Phoenix  85001
4    New York  New York City  10001