In [2]:
import pandas as pd
import os
import glob

In [32]:
# function that read all excel files in a folder create a dataframe for ach one and print the head of each one
def read_all_excel_files_and_print_head(folder_path, name):
    all_files = glob.glob(folder_path + "*"+ name +"*.xls")
    print(all_files)
    for file in all_files:
        #df = pd.read_excel(file)
        #print(df.columns)
        print(file)

In [58]:
# function that read all excel files in a folder create a dataframe for ach one and print the head of each one
def read_all_csv_files_and_print_cols(folder_path):
    all_files = glob.glob(folder_path + "*.csv")
    print(all_files)
    for file in all_files:
        #df = pd.read_excel(file)
        #print(df.columns)
        print(file)

In [59]:
folder_path = "data/clean_cdmx/"
name = 'CO'
_ = read_all_csv_files_and_print_cols(folder_path)

['data/clean_cdmx\\CO.csv', 'data/clean_cdmx\\NO2.csv', 'data/clean_cdmx\\O3.csv', 'data/clean_cdmx\\PM10.csv']
data/clean_cdmx\CO.csv
data/clean_cdmx\NO2.csv
data/clean_cdmx\O3.csv
data/clean_cdmx\PM10.csv

In [34]:
def read_xls_files(folder_path,name):
    # Get a list of all .xls files in the folder
    file_list = glob.glob(folder_path + "*"+ name +"*.xls")

    # Initialize an empty list to hold the dataframes
    df_list = []

    # Loop through each file in the file list
    for file in file_list:
        # Read the Excel file into a dataframe
        df = pd.read_excel(file)

        # Append the dataframe to the list
        df_list.append(df)

    # Concatenate all the dataframes into a single dataframe
    combined_df = pd.concat(df_list, ignore_index=True, sort=False)

    # Return the combined dataframe
    return combined_df

In [54]:
folder_path = "data/clean_cdmx/O3/"
name = 'CO'

df = read_xls_files(folder_path, name)
df['Variable'] = name

In [55]:
df.columns

Index(['FECHA', 'HORA', 'LAG', 'TAC', 'FAC', 'TLA', 'XAL', 'MER', 'PED', 'CES',
       'PLA', 'HAN', 'UIZ', 'ARA', 'IMP', 'BJU', 'TAX', 'MIN', 'TLI', 'ATI',
       'VIF', 'SAG', 'VAL', 'AZC', 'SUR', 'IZT', 'CHO', 'ACO', 'CAM', 'CUA',
       'LLA', 'LPR', 'MON', 'NEZ', 'SJA', 'TAH', 'TPN', 'HGM', 'SFE', 'UAX',
       'CCA', 'AJM', 'INN', 'MGH', 'MPA', 'CUT', 'FAR', 'SAC', 'Variable'],
      dtype='object')

In [56]:
df.head()

,FECHA,HORA,LAG,TAC,FAC,TLA,XAL,MER,PED,CES,...,UAX,CCA,AJM,INN,MGH,MPA,CUT,FAR,SAC,Variable
0,2000-01-01,1,2.3,1.0,-99.0,3.7,6.2,2.8,1.6,2.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CO
1,2000-01-01,2,2.3,2.0,-99.0,2.6,6.5,2.8,1.3,2.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CO
2,2000-01-01,3,1.8,1.8,-99.0,3.1,6.3,2.9,1.4,3.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CO
3,2000-01-01,4,2.3,1.7,-99.0,3.4,6.6,2.8,1.9,2.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CO
4,2000-01-01,5,3.1,1.5,-99.0,3.6,9.7,3.4,1.8,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CO

In [57]:
df.to_csv('CO.csv', index=False)

In [60]:
def join_csv_files(folder_path):
    # Get a list of all .xls files in the folder
    file_list = glob.glob(folder_path  +"*.csv")

    # Initialize an empty list to hold the dataframes
    df_list = []

    # Loop through each file in the file list
    for file in file_list:
        # Read the Excel file into a dataframe
        df = pd.read_csv(file)

        # Append the dataframe to the list
        df_list.append(df)

    # Concatenate all the dataframes into a single dataframe
    combined_df = pd.concat(df_list, ignore_index=True, sort=False)

    # Return the combined dataframe
    return combined_df

In [62]:
folder_path = "data/clean_cdmx/"

df = join_csv_files(folder_path)
df.columns

Index(['FECHA', 'HORA', 'LAG', 'TAC', 'FAC', 'TLA', 'XAL', 'MER', 'PED', 'CES',
       'PLA', 'HAN', 'UIZ', 'ARA', 'IMP', 'BJU', 'TAX', 'MIN', 'TLI', 'ATI',
       'VIF', 'SAG', 'VAL', 'AZC', 'SUR', 'IZT', 'CHO', 'ACO', 'CAM', 'CUA',
       'LLA', 'LPR', 'MON', 'NEZ', 'SJA', 'TAH', 'TPN', 'HGM', 'SFE', 'UAX',
       'CCA', 'AJM', 'INN', 'MGH', 'MPA', 'CUT', 'FAR', 'SAC', 'Variable',
       'COY', 'GAM', 'AJU', 'LAA', 'LVI'],
      dtype='object')

In [63]:
df.to_csv('CDMX.csv', index=False)

In [64]:
dfcd = pd.read_csv('./data/clean_cdmx/CDMX.csv')
print(dfcd.head())

        FECHA  HORA  LAG  TAC   FAC  TLA  XAL  MER  PED  CES  ...  MPA  CUT
0  2000-01-01     1  2.3  1.0 -99.0  3.7  6.2  2.8  1.6  2.6  ...  NaN  NaN  \
1  2000-01-01     2  2.3  2.0 -99.0  2.6  6.5  2.8  1.3  2.9  ...  NaN  NaN
2  2000-01-01     3  1.8  1.8 -99.0  3.1  6.3  2.9  1.4  3.1  ...  NaN  NaN
3  2000-01-01     4  2.3  1.7 -99.0  3.4  6.6  2.8  1.9  2.8  ...  NaN  NaN
4  2000-01-01     5  3.1  1.5 -99.0  3.6  9.7  3.4  1.8  3.5  ...  NaN  NaN

   FAR  SAC  Variable  COY  GAM  AJU  LAA  LVI
0  NaN  NaN        CO  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN        CO  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN        CO  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN        CO  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN        CO  NaN  NaN  NaN  NaN  NaN

[5 rows x 54 columns]

In [67]:
dfcd.columns

Index(['FECHA', 'HORA', 'LAG', 'TAC', 'FAC', 'TLA', 'XAL', 'MER', 'PED', 'CES',
       'PLA', 'HAN', 'UIZ', 'ARA', 'IMP', 'BJU', 'TAX', 'MIN', 'TLI', 'ATI',
       'VIF', 'SAG', 'VAL', 'AZC', 'SUR', 'IZT', 'CHO', 'ACO', 'CAM', 'CUA',
       'LLA', 'LPR', 'MON', 'NEZ', 'SJA', 'TAH', 'TPN', 'HGM', 'SFE', 'UAX',
       'CCA', 'AJM', 'INN', 'MGH', 'MPA', 'CUT', 'FAR', 'SAC', 'Variable',
       'COY', 'GAM', 'AJU', 'LAA', 'LVI'],
      dtype='object')

In [68]:
unpivoted_df = pd.melt(dfcd, id_vars=['FECHA', 'HORA', 'Variable'], value_vars=['LAG', 'TAC', 'FAC', 'TLA', 'XAL', 'MER', 'PED', 'CES','PLA', 'HAN', 'UIZ', 'ARA', 'IMP', 'BJU', 'TAX', 'MIN', 'TLI', 'ATI','VIF', 'SAG', 'VAL', 'AZC', 'SUR', 'IZT', 'CHO', 'ACO', 'CAM', 'CUA','LLA', 'LPR', 'MON', 'NEZ', 'SJA', 'TAH', 'TPN', 'HGM', 'SFE', 'UAX','CCA', 'AJM', 'INN', 'MGH', 'MPA', 'CUT', 'FAR', 'SAC','COY', 'GAM', 'AJU', 'LAA', 'LVI'], var_name='location', value_name='value')

In [69]:
unpivoted_df.columns

Index(['FECHA', 'HORA', 'Variable', 'location', 'value'], dtype='object')

In [70]:
unpivoted_df.head()

        FECHA  HORA Variable location  value
0  2000-01-01     1       CO      LAG    2.3
1  2000-01-01     2       CO      LAG    2.3
2  2000-01-01     3       CO      LAG    1.8
3  2000-01-01     4       CO      LAG    2.3
4  2000-01-01     5       CO      LAG    3.1

In [71]:
# pivot the dataframe
df_pivot = unpivoted_df.pivot_table(index=['FECHA', 'HORA', 'location'], columns='Variable', values='value').reset_index()

In [74]:
print(df_pivot.columns)
print(df_pivot.head())
print(df_pivot.shape)

Index(['FECHA', 'HORA', 'location', 'CO', 'NO2', 'O3', 'PM10'], dtype='object', name='Variable')
Variable       FECHA  HORA location   CO   NO2   O3  PM10
0         2000-01-01     1      ARA  5.3   NaN  NaN   NaN
1         2000-01-01     1      ATI  1.5  20.0  NaN   NaN
2         2000-01-01     1      AZC  3.5 -99.0  6.0   NaN
3         2000-01-01     1      BJU  2.3  27.0  4.0   NaN
4         2000-01-01     1      CES  2.6  56.0  8.0  69.0
(5821008, 7)

In [75]:
df_pivot.to_csv('FULL_CDMX.csv', index=False)