In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data.xlsx')
df

      y   x2   x3
0  0.40  0.6  1.3
1  0.60  1.0  1.6
2  0.90  1.6  1.4
3  1.10  2.6  1.6
4  1.20  2.2  2.6
5  0.84  1.6  1.7